@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    height: 94px;
    width: 100%;
    background-color:  #562EFF;
}
.main{
    display: flex;
    flex-direction: column;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    width: 880px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-around;
    gap: 36px;
    align-items: center;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
.idea{
    display: flex;
    gap:16px;
    margin: 20px 23px;
}
.idea h3{
    font-weight: 500;
font-size: 24px;
color: white;
margin-top: 7px;
}
.idea img{
    height: 50px;
    width: 40px;
}

#profile-pic{
    width: 51px;
height: 51px;
}

body {
    width: 100%;
    background-color: #F3F1FF;
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 870px;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
}

.section-title {
    padding: 33px;
    margin: 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 7px 83px 30px 30px;
    grid-row-gap: 30px;
}

.player {
    display: flex;
    gap: 16px;
}

.player img {
    height: 56px;
    width: 56px;
}

hr {
    border: 1px solid #D1D1D1;
    width: 807px;
}

.top-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.top-blog {
    display: flex;
    gap: 16px;
    margin: 0 16px 26px 30px;
}

.blog-title {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.blog-thumb img {
    width: 177px;
    height: 117px;
}

.blog-author{
    color: #9F9F9F;
}
.author-name{
    color: #562EFF;
}

.courses{
    display: flex;
    gap: 40px;
    padding: 0 33px 33px 33px;
}
#course-img{
    height: 105px;
    width: 225px;
}
.rating{
    display: flex;
    justify-content: space-between;
}
.icons{
    
    display: flex;
    gap: 3.5px;
}
.fa-star.star{
    color:  #FFC014;
}
.fa-star.starg{
    color:  #AEAEAE;
}
.rate{
    font-weight: 400;
font-size: 14.6913px;
color: #AEAEAE;
margin-left: 7px;
}

@media only screen and (max-width: 576px) {
    .header{
        height: auto;
    }
    .navbar{
        width: 100%;
        flex-direction: column;
    }
    .idea{
        justify-content: center;
    }
    ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body{
        width: 100%;
    }
    .section-container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .section-title{
        text-align: center;
    }
    .top-blogs{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    hr{
        width: 70%;
    }
    .courses{
        flex-direction: column;
    }
}